# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.CaloriesCalculator.iml
# Datasource local storage ignored files
/../../../../../../../../:\for learning\КП КПиЯП\УрецкийNewProject\CaloriesCalculator\.idea\.idea.CaloriesCalculator\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
